@import "tailwindcss";

@theme {
  --color-bg-dark: #0a0a0a;
  --color-primary: #0ea5e9;
  --color-secondary: #00eaff;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Oswald", "Impact", sans-serif;
}

body {
  background-color: var(--color-bg-dark);
  color: white;
}
